html {
  background-image: url(/myPortfolio/src/Images/NASA-img.jpg);
  background-size: cover;
}

.parent {
  width: auto;
  height: auto;
  margin: 1em;
}

/*Greeting CSS Start*/
.greeting-container {
  text-align: center;
  font-size: 1em;
  color: white;
  position: relative;
  width: auto;
  height: 1em;
  margin: 0;
}

.greeting-container > p {
  width: auto;
}

/* Geolocation Box */
.location {
  width: auto;
  height: 1em;
  color: white;
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  align-items: flex-start;
  font-size: 0.5em;
}

#myLocale {
  background-color: black;
  border: solid 2px tomato;
  margin: 0px;
}

/* To Do List */
#list_section {
  color: white;
  background-color: rgb(56, 56, 56);
  margin: 2em;
  text-align: center;
  width: auto;
  height: auto;
}

#list_section > li {
  text-align: left;
}

#header {
  text-decoration: underline;
}

.TodoUl {
  background-color: #626c77;
  margin-left: 3em;
  margin-right: 3em;
}

.ulItem {
  text-align: left;
}

.ulItem:hover {
  cursor: pointer;
}

#addBtn:hover {
  cursor: pointer;
}

/*Clock CSS Start*/
.clock-calendar-container {
  color: white;
  margin: 2em;
  justify-self: center;
  border: solid thick rgb(255, 226, 155);
  background-color: black;
}


/* Calendar CSS Start*/
.days {
  list-style-type: none;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size: 12px;
  color: #777;
}

.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important;
}

/*Calculator CSS Start*/
.calculator-container {
  justify-self: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex: 0 1 60%;
  width: auto;
  background-color: black;
  margin: 2em;
}

.buttons,
.result {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  flex: 0 1 100%;
}

.result {
  height: 50px;
  border: 1px solid black;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.5em;
  background: #000;
  color: #fff;
  padding: 0 10px;
}

.button {
  display: flex;
  flex: 0 1 20%;
  justify-content: center;
  align-items: center;
  height: 50px;
  border: 1px solid black;
  border-top: none;
  border-left: none;
  cursor: pointer;
  background: -webkit-linear-gradient(top, #d2d2d2, #ddd);
  font-size: 2em;
}

.button:nth-child(4n + 1) {
  border-left: 1px solid black;
}

.button:nth-child(4n),
.button:last-child {
  flex-grow: 1;
  background: #f98110;
  color: #fff;
}

.zero-btn {
  flex-grow: 1.1;
}

.doubleBordered {
  border: 2px solid black;
}

.calculator-container:hover {
  opacity: 0.9;
}

/* QuoteBox */
#quoteBox {
  place-self: center;
  height: auto;
  width: auto;
  background-color: midnightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0.9;
  font-size: 3em;
  text-align: center;
}

/* Game Clicker */
.gameBox {
  place-self: center;
  width: 100px;
  height: 100px;
  background-color: #f46731;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media (min-width: 320px) {
  .parent {
    display: grid;
    /* 1 Column */
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    /* 6 Rows */
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }

  /* Greeting Container*/
  .greeting-container {
    align-self: start;
    grid-column: 1/1;
    grid-row: 1/1;
    font-size: 3em;
    place-self: start;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
  }

  /* Geolocater */
  .location {
    grid-column: 1/1;
    grid-row: 2/2;
    display: flex;
    justify-content: stretch;
    align-content: center;
  }
  .location > p {
    background-color: black;
    width: auto;
  }

  /*To Do List Container*/
  #list_section {
    grid-column: 1/1;
    grid-row: 3/3;
    height: 15em;
    text-align: center;
    font-size: 1fr;
  }

  #myUL {
    height: auto;
    text-align: left;
    font-size: 1em;
  }

  /* Clock & Calendar Container */
  .clock-calendar-container {
    grid-column: 1/1;
    grid-row: 4/4;
    margin: 1em;
  }

  /* Calculator Container Start */
  .calculator-container {
    grid-column: 1/1;
    grid-row: 5/5;
    margin: 1em;
  }

  /* Game Clicker */
  .gameBox {
    grid-column: 1/1;
    grid-row: 6/6;
  }
}

@media (min-width: 500px) {
  .parent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    column-gap: 1em;
    width: auto;
    height: auto;
  }

  /* Greeting Container */
  .greeting-container {
    margin: 0px;
    align-self: start;
    grid-column: 1/3;
    grid-row: 1/1;
    font-size: 3em;
    justify-self: stretch;
    align-self: start;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }

  #greeting {
    margin: 0px;
  }

  /* Geolocator */
  .location {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-top: 1em;
  }

  /* To Do List */
  #list_section {
    margin:0px;
    grid-column: 1/1;
    grid-row: 2/2;
    height: 15em;
    text-align: center;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  #header{
    margin:0px;
  }

  #newItemForm{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: auto;
  }

  

  /* QuoteBox */
  #quoteBox {
    justify-self: stretch;
    align-self: start;
    border: solid 2px #f46731;
    width: 50vh;
    height: auto;
    grid-column: 3/4;
    grid-row: 1/1;
  }

  /* Calendar */
  .clock-calendar-container {
    grid-column: 2/4;
    grid-row: 2/3;
    opacity: 0.9;
    justify-self: center;
    align-self: center;
    margin: 0px;
  }

  /* Calculator */
  .calculator-container {
    grid-column: 1/5;
    grid-row: 3/3;
    opacity: 0.9;
  }

  /* Game Clicker */
  .gameBox {
    grid-column: 1/4;
    grid-row: 4/4;
  }
}

@media (min-width: 990px) {
  /* Main Content Container */
  .parent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
  }

  /* Greeting Container Start */
  .greeting-container {
    align-self: start;
    grid-column: 2/5;
    grid-row: 1/1;
    font-size: 3em;
    justify-self: center;
    align-self: start;
    display: flex;
    justify-content: stretch;
    align-items: center;
  }

  /*To Do List Container Start*/
  #list_section {
    grid-column: 1/2;
    grid-row: 1/2;
    height: 15em;
    text-align: center;
    display: flex;
    justify-content: stretch;
    align-items: center;
    flex-direction: column;
  }

  #myUL {
    height: auto;
    text-align: left;
  }

  /* Clock & Calendar Container Start */
  .clock-calendar-container {
    grid-column: 5/5;
    grid-row: 1/1;
  }

  /* Quote Box */
  #quoteBox {
    grid-column: 2/5;
    grid-row: 1/2;
    justify-self: center;
    align-self: end;
  }

  /* Calculator */
  .calculator-container {
    grid-column: 5/5;
    grid-row: 2/2;
  }

  /* Game */
  .gameBox {
    grid-column: 1/2;
    grid-row: 2/2;
    justify-self: center;
    align-self: start;
  }
}
