header{
    background:#370d58;
    color: #eefffe;
    text-align: center;
    font: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

nav{
    background:#4c127a;
    color: #eefffe;
    text-align: center;
    font: 75px;
    border-top: solid #4c127a 1px;
    border-right: solid #4c127a 1px;
    border-left: solid #4c127a 1px;
}

article{
    border-bottom: solid black 1px;

}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

img{
    float: right;
}

.Empty-div{
    border-top:solid black 1px;
    border-bottom: solid black 1px;
}

footer{
    background: #370d58;
    color: #eefffe;
    text-align: right;

}